img {
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 5%;
    /*max-width: 95%;
    max-height: 95%;*/
  
}

.img-container {
    width: 400px;
    height: 500px;
    margin: 10px;
}

.nav {
    background-color: #544141;
    min-height: 55px;
}

.welcome {
    position: absolute;
    top: 2%;
    right: 135px;
    color:#ddd;
}

.open-button {  
    position: absolute;
    width: 100px;
    top: 1%;
    right: 20px; 
    
}

.form-login {
    display: block;
    position: absolute;
    padding: 20px 20px;
    top: 20%;
    right: 40%;
    border: 5px solid #4b1f01;
    border-radius: 20px;
    background-color: white;
    z-index: 9;   
}

.registration-button {
    position: absolute;
    top: 1%;
    right: 135px;     
    
}

.container-content {
    margin: 30px;
}

